name: Dockerize

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker:
    uses: axieinfinity/workflows-samples/.github/workflows/docker-build-submodule.yml@main
    with:
      checkout_submodules: true
      image_repository: us-docker.pkg.dev/axs-infra-ops-8686/skymavis/ronin
    secrets: inherit