version: "3"
services:
  node:
    build:
      context: ../../
      dockerfile: docker/chainnode/Dockerfile
    restart: always
    hostname: node
    container_name: node
    ports:
      - "8545:8545"
      - "8546:8546"
      - "30303:30303"
      - "30303:30303/udp"
    volumes:
      - ~/.skymavis/ronin:/opt/ronin
    environment:
      - SYNC_MODE=${SYNC_MODE}
      - BOOTNODES=${BOOTNODES}
      - NETWORK_ID=${NETWORK_ID}
      - GENESIS_PATH=${GENESIS_PATH}
      - RPC_NODE=${RPC_NODE}
      - DATA_DIR=${DATA_DIR}
      - SUBSCRIBER=${SUBSCRIBER}
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_USERNAME=${KAFKA_USERNAME}
      - KAFKA_PASSWORD=${KAFKA_PASSWORD}
      - KAFKA_AUTHENTICATION_TYPE=${KAFKA_AUTHENTICATION_TYPE}
      - VERBOSITY=${VERBOSITY}
      - CONFIRM_BLOCK_AT=${CONFIRM_BLOCK_AT}
      - RONIN_PARAMS=${RONIN_PARAMS}
      - MINE=${MINE}
      - KMS_SERVICE_ADDRESS=${KMS_SERVICE_ADDRESS}
      - KMS_TOKEN_KEY_PATH=${KMS_TOKEN_KEY_PATH}
      - KMS_SOURCE_ADDRESS=${KMS_SOURCE_ADDRESS}
      - KMS_SSL_CERT_PATH=${KMS_SSL_CERT_PATH}
    network_mode: bridge
